# dependencies
node_modules/
client/node_modules/
server/node_modules/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файли середовища
.env

# Залежності, які можуть бути автоматично згенеровані
dist/
build/
